.columnA,
.columnB {
  width: 100px;
  text-align: center;
  padding: 5px 0;
  border-radius: 5px;
  border: 1px solid #686de0;
}
.columnA {
  color: white;
  background-color: #686de0;
  margin: 15px 0;
  cursor: pointer;
}
.columnB {
  color: #686de0;
}
.container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 15px 0;
}
.index {
  color: white;
  margin-left: 5px;
  background-color: #686de0;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}
